  <div class ="new-blog-form">
    <%= form_for blog do |f| %>
      <div class = "blog-form">
        <%= f.text_area :text, class: "form", size: "100x10" %>
      </div>
      <div class = "bottun-form">
        <%= f.submit "Send", class: "bottun"%>
      </div>
    <% end %>
  </div>